<a href="https://colab.research.google.com/github/DONDAJIN/Kaggle_amex/blob/master/exp020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import gc
import os
import joblib
import random
import warnings
import itertools
import scipy as sp
import numpy as np
import pandas as pd
from tqdm import tqdm
import lightgbm as lgb
from itertools import combinations
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
from sklearn.preprocessing import LabelEncoder
import warnings; warnings.filterwarnings('ignore')
from sklearn.model_selection import StratifiedKFold, train_test_split,KFold

In [23]:
Pred_92=pd.read_csv('/content/drive/MyDrive/Kaggle/exp/exp018/pred/test_lgbm_baseline_5fold_seed92.csv')
oof_92=0.7974417132114643
Pred_55=pd.read_csv('/content/drive/MyDrive/Kaggle/exp/exp019/pred/Target-encoding_seed55.csv')
oof_55=0.7973354873715778 #Targetencoding
Pred_42=pd.read_csv('/content/drive/MyDrive/Kaggle/exp/exp012/pred/test_lgbm_baseline_5fold_seed42.csv')
oof_42=0.7973811264999406
best_df=pd.read_csv('submission3.csv')
best_2df=pd.read_csv('submission2.csv')
best_3df=pd.read_csv('/content/drive/MyDrive/Kaggle/exp/exp020/pred/test_lgbm_baseline_5fold_seed17.csv')

In [ ]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df]
weights=[0.08,0.05,0.06,0.48,0.33]

In [33]:
for df in dfs:
  df['prediction']=df['prediction'].clip(0,1)

In [38]:
submission_df=pd.DataFrame()
submission_df['customer_ID']=best_df['customer_ID']
submission_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission_df['prediction']+=df['prediction']*weight

In [39]:
submission_df

                                              customer_ID  prediction
0       00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.163887
1       00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.030008
2       0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.166634
3       00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.285795
4       00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.698235
...                                                   ...         ...
924616  ffff952c631f2c911b8a2a8ca56ea6e656309a83d2f64c...    0.135848
924617  ffffcf5df59e5e0bba2a5ac4578a34e2b5aa64a1546cd3...    0.679695
924618  ffffd61f098cc056dbd7d2a21380c4804bbfe60856f475...    0.453953
924619  ffffddef1fc3643ea179c93245b68dca0f36941cd83977...    0.323701
924620  fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...    0.194719

[924621 rows x 2 columns]

In [40]:
submission_df.to_csv(os.path.join('/content/drive/MyDrive/Kaggle/exp/exp020/pred','sub_ensem1.csv'),index=False)

In [23]:
diff=best_df['prediction']-best_2df['prediction']

In [42]:
Pred_cat=pd.read_csv('/content/drive/MyDrive/Kaggle/exp/exp017/pred/test_lgbm_baseline_5fold_seed64.csv')

In [43]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df,Pred_cat]
weights=[0.08,0.08,0.08,0.4,0.32,0.04]

In [44]:
for df in dfs:
  df['prediction']=df['prediction'].clip(0,1)

In [45]:
submission_df=pd.DataFrame()
submission_df['customer_ID']=best_df['customer_ID']
submission_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission_df['prediction']+=df['prediction']*weight

In [46]:
submission_df.to_csv(os.path.join('/content/drive/MyDrive/Kaggle/exp/exp020/pred','sub_ensem2.csv'),index=False)

In [47]:
submission_df

                                              customer_ID  prediction
0       00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.140466
1       00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.025167
2       0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.143477
3       00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.272047
4       00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.726663
...                                                   ...         ...
924616  ffff952c631f2c911b8a2a8ca56ea6e656309a83d2f64c...    0.115309
924617  ffffcf5df59e5e0bba2a5ac4578a34e2b5aa64a1546cd3...    0.707892
924618  ffffd61f098cc056dbd7d2a21380c4804bbfe60856f475...    0.459000
924619  ffffddef1fc3643ea179c93245b68dca0f36941cd83977...    0.312970
924620  fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...    0.172104

[924621 rows x 2 columns]

In [48]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df,Pred_cat]
weights=[0.05,0.05,0.05,0.5,0.33,0.02]

In [49]:
submission3_df=pd.DataFrame()
submission3_df['customer_ID']=best_df['customer_ID']
submission3_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission3_df['prediction']+=df['prediction']*weight

In [51]:
submission3_df.to_csv(os.path.join('/content/drive/MyDrive/Kaggle/exp/exp020/pred','sub_ensem3.csv'),index=False)

In [55]:
submission3_df

                                              customer_ID  prediction
0       00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.169650
1       00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.031244
2       0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.172414
3       00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.290836
4       00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.691811
...                                                   ...         ...
924616  ffff952c631f2c911b8a2a8ca56ea6e656309a83d2f64c...    0.140950
924617  ffffcf5df59e5e0bba2a5ac4578a34e2b5aa64a1546cd3...    0.673167
924618  ffffd61f098cc056dbd7d2a21380c4804bbfe60856f475...    0.454672
924619  ffffddef1fc3643ea179c93245b68dca0f36941cd83977...    0.327280
924620  fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...    0.200159

[924621 rows x 2 columns]

In [52]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df]
weights=[0.05,0.05,0.05,0.47,0.38]

In [53]:
submission4_df=pd.DataFrame()
submission4_df['customer_ID']=best_df['customer_ID']
submission4_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission4_df['prediction']+=df['prediction']*weight

In [54]:
submission4_df

                                              customer_ID  prediction
0       00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.161465
1       00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.029396
2       0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.163847
3       00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.284303
4       00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.702626
...                                                   ...         ...
924616  ffff952c631f2c911b8a2a8ca56ea6e656309a83d2f64c...    0.133301
924617  ffffcf5df59e5e0bba2a5ac4578a34e2b5aa64a1546cd3...    0.682566
924618  ffffd61f098cc056dbd7d2a21380c4804bbfe60856f475...    0.455139
924619  ffffddef1fc3643ea179c93245b68dca0f36941cd83977...    0.321909
924620  fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...    0.191652

[924621 rows x 2 columns]

In [56]:
submission4_df.to_csv(os.path.join('/content/drive/MyDrive/Kaggle/exp/exp020/pred','sub_ensem4.csv'),index=False)

In [32]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df,best_3df]
weights=[0.05,0.03,0.05,0.52,0.3,0.05]

In [33]:
for df in dfs:
  df['prediction']=df['prediction'].clip(0,1)

In [45]:
submission_df=pd.DataFrame()
submission_df['customer_ID']=best_df['customer_ID']
submission_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission_df['prediction']+=df['prediction']*weight
submission_df.to_csv('/content/drive/MyDrive/Kaggle/exp/exp020/pred/sub_ensem5.csv',index=False)

In [53]:
(submission_df['prediction']-best_df['prediction']).sum()

-4605.473214832023

In [54]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df,best_3df]
weights=[0.04,0.03,0.05,0.45,0.4,0.03]

In [55]:
submission_df=pd.DataFrame()
submission_df['customer_ID']=best_df['customer_ID']
submission_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission_df['prediction']+=df['prediction']*weight
submission_df.to_csv('/content/drive/MyDrive/Kaggle/exp/exp020/pred/sub_ensem6.csv',index=False)

In [58]:
(submission_df['prediction']-best_df['prediction']).sum()

-2671.287710606431

In [60]:
dfs=[Pred_92,Pred_55,Pred_42,best_df,best_2df,best_3df]
weights=[0.05,0.05,0.05,0.7,0.1,0.05]

In [65]:
submission_df=pd.DataFrame()
submission_df['customer_ID']=best_df['customer_ID']
submission_df['prediction']=0
for df,weight in zip(dfs,weights):
  submission_df['prediction']+=df['prediction']*weight
submission_df.to_csv('/content/drive/MyDrive/Kaggle/exp/exp020/pred/sub_ensem7.csv',index=False)

In [66]:
submission_df

                                              customer_ID  prediction
0       00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.170759
1       00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.043862
2       0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.174911
3       00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.299215
4       00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.715196
...                                                   ...         ...
924616  ffff952c631f2c911b8a2a8ca56ea6e656309a83d2f64c...    0.120995
924617  ffffcf5df59e5e0bba2a5ac4578a34e2b5aa64a1546cd3...    0.697302
924618  ffffd61f098cc056dbd7d2a21380c4804bbfe60856f475...    0.466064
924619  ffffddef1fc3643ea179c93245b68dca0f36941cd83977...    0.338052
924620  fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...    0.204310

[924621 rows x 2 columns]

In [68]:
(submission_df['prediction']-best_df['prediction']).sum()

-7017.770822593451